<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new bread!</title>
</head>
<body>
    <h1>New bread form</h1>
    <form action="/breads" method="POST">
        <label>Name: </label>
        <input name="name">
        <br/>

        <label>Yeast: </label>
        <input name="yeast">
        <br/>

        <label>Flour: </label>
        <input name="flour">
        <br/>

        <label>Expiry Date: </label>
        <input name="expiryDate">
        <br/>

        <button type="submit">Create</button>
    </form>    
</body>
</html>