<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Registration page</title>
    <style>
        h1 {
            color: blueviolet; 
            font-size: medium;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>
        Welcome to the Registration page!
    </h1>
    <form action="/register" method="POST">
        <label>Username</label>
        <input name="username"/>
        <br />
        <label>Password</label>
        <input name="password"/>
        <br />
        
        <button type="submit">Register</button>
    </form>
</body>
</html>